@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,400,500&display=swap');
@import url(circularfont.css);


/*=====================================GENERAL BODY=====================================*/
* {
	margin: 0;
	padding: 0;
	transition: all 0.3;
}*
body {
	/*font-family: "CircularStd-Medium", sans-serif;*/
	font-family: 'CircularStd-Medium', sans-serif;
	color: #646464;
	background-color: #f0f0f0;
}

input[type="text"], input[type="password"], input[type="email"] {
	height: 28px;
	font-size: 20px;
	font-family: 'CircularStd-Medium', sans-serif;
	padding: 10px 20px;
	border: solid 1px;
	border-radius: 6px;
	border-color: #e5e5e5;
	font-weight: 500;
	background-color: #f0f0f0;
	color: #292929;
}

h2 {
	font-size: 40px;
}
h3 {
	font-size: 30px;
}
p {
	font-size: 20px;
}
li {
	margin: 30px 0;
}
a {
	transition: all 0.3s;
	text-decoration: none;
	color: #494949;
}
a:hover {
	transition: all 0.3s;
	color: black;
	font-weight: 400;
}
hr {
	position: relative;
	width: 60%;
	color: #e5e5e5;
}

/*======================================HOMEPAGE======================================*/
.homepage {
	background-image: ;
	background:  -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/2000a352812969.59eedeac2642a.gif);
	background:  -o-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/2000a352812969.59eedeac2642a.gif);
	background:  linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/2000a352812969.59eedeac2642a.gif);
	background-attachment: fixed;
	background-position: center;
	background-clip: border-box;
	background-size: 100%;
}

.sectionMain {
	display: flex;
	margin-top: 50px;
}
#h1DLPP {
	font-size: 128px;
	margin: 0px;
	color: white;
}
#h1DLPPlink:hover {
	text-decoration: none;
	color: #323232;
}
.sectionLoginMain {
	display: flex;
	justify-content: center;
	text-align: center;

}
.sectionLeft {
	width: 50%;
	margin: 20px;

}
.sectionRight {
	width: 50%;
	margin: 20px;
}
.divTitle {
	color: white;
	text-align: center;
	padding: 52px;
	margin: 0 auto;
	border-radius: 6px;
}
.divSignUp {
	text-align: center;
	padding: 52px;
	margin: 0 auto;
	border-radius: 6px;
	color: white;
}
.divSignUp a{
	color: #e0e0e0;
}
.divSignUp a:hover{
	color: white;
}

.divInfo {
	color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	justify-content: space-around;
	margin-top: 100px;
	padding: 52px;
	margin: 0 auto;
	border-radius: 6px;
}
.divInfoBox {
	padding: 0px 20px;
	opacity: 1;
}
.divInfoBox p {
	padding: 0px 20px;
	opacity: 1;
}
.iconsInfo {
	height: 150px;
}
.signUpList {
	list-style: none;
	margin-left: -40px;
}
#signUpButton {
	transition: all 0.3s;
	font-size: 20px;
	font-family: 'CircularStd-Bold', sans-serif;
	border-radius: 4px;
	padding: 10px 20px;
	border: none;
	background-color: #E3E3E3;
	color: black;
}
#signUpButton:hover {
	transition: all 0.3s;
	font-size: 20px;
	border: none;
	background-color: #292929;
	color: white;

}
#signInButton {
	transition: all 0.3s;
	font-size: 20px;
	font-family: 'CircularStd-Bold', sans-serif;
	padding: 10px 20px;
	border-radius: 4px;
	border: none;
	background-color: #E3E3E3;
	color: black;
}
#signInButton:hover {
	transition: all 0.3s;
	font-size: 20px;
	border: none;
	background-color: #292929;
	color: white;
}

/*=======================================HEADER=======================================*/
.ulHeader {
	float: right;
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0 30px;
	color: #006bb3;
}

.ulHeader a {
	display: flex;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px 10px;
	font-family: 'CircularStd-Medium', sans-serif;
	font-weight: 400;
	transition: all 0.3s;
	color: white;
}
.ulHeader a:hover {
	/*padding: 10px;*/
	color: #d0d0d0;
	transition: all 0.3s;
	font-family: 'CircularStd-Medium', sans-serif;
	font-weight: 400;
}
.sectionHeader li {
	margin-top: 20px;
	margin-bottom: 20px;
}

.sectionHeader {
	width: 100%;
	display: inline-block;
	list-style: none;
	background-color: #242424;
	font-size: 24px;
	color: white;
	border-bottom: 2px solid;
	border-color: #494949;
}
.sectionHeader a {

}
.ulLogo {
	float: left;
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0 20px;
}
.ulLogo a {
	color: #ffffff;
	font-size: 36px;
}
.ulLogo a:hover{
	color: #d0d0d0;
}


/*=====================================LOGIN PAGE=====================================*/
.loginPage {
	background-image: ;
	background:  -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url(https://w.wallhaven.cc/full/95/wallhaven-95wey8.png);
	background:  -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url(https://w.wallhaven.cc/full/95/wallhaven-95wey8.png);
	background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url(https://w.wallhaven.cc/full/95/wallhaven-95wey8.png);
	background-attachment: fixed;
	background-position: center;
	background-clip: border-box;
	background-size: 100%;
	transition: all 0.3;

}
.divSignIn {
	text-align: center;
	margin: 150px auto 0 auto;
	padding: 52px;
	background-image: linear-gradient(to top, #242424, #323b47, #2b576a, #017581, #009487);
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 71px 17px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 0px 71px 17px rgba(0,0,0,0.53);
	box-shadow: 0px 0px 71px 17px rgba(0,0,0,0.53);
	color: white;
}
.signUpList {
	align-items: center;
	margin-left: 0;
}
.divSignIn p {
	margin: 10px 40px 10px 40px;
	align-items: center;
	text-align: center;
}
.divSignIn a{
	color: #e0e0e0;
}
.divSignIn a:hover{
	color: white;
}
/*=====================================BLOG PAGE=====================================*/
.sectionBlogDiscrete {
	color: white;
	width: 70%;
	margin: 50px 50px 50px 50px;
	background-color: #494949;
	-webkit-box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.75);
}
.sectionBlogDiscrete a{
	color: white;
}
.sectionBlogDiscrete a:hover {
	color: #e0e0e0;
}
.blogPostBodyButtonsLinks {
	display: flex; 
	list-style: none;
}
.blogPostBodyButtonsLinks li{
	padding-right: 5px;
}
.divBlogDiscrete {
	width: 90%;
	padding: 20px;
}
.blogPostBodyShort{
	padding: 10px 0;
}
.blogPostBodyCut{

}
.blogPostHeader{

}
.blogPostHeaderName{
	padding: 10px 0;
}
.blogPostHeaderDate{
	padding: 10px 0;
}