{% extends 'blog/base.html' %}
{% block content %}
<div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{custom_user.profile.image.url}}">
        <div class="media-body">
          <h2 class="account-heading">{{custom_user.username}}</h2>
          <p class="text-secondary">{{custom_user.email}}</p>
           <p>{{custom_user.profile.status}}</p>
          {% if custom_user == user %}
            <div class = 'form-group'>
                <a class = 'btn btn-outline-info ml-5' href = "{% url 'profile-edit' user.username%}">Edit Profile</a>
            </div>
          {% endif %}
        </div>
      </div>
</div>

{% endblock content %}